<h1>Register</h1>

<%= form_for @user do |f| %>
  <%= render :partial => "form",  :object => f, :locals => { :user => @user } %>
  <%= f.submit "Register" %>
<% end %>
<% if current_user != nil && current_user.id == @user.id %>
  <div class="omniauth-connect">
    <%= render 'omniauth_connect', :authorizations => @authorizations %>
  </div>
  <div class="clear"></div>
<% end %>